/* 讓公司名稱置中 */
.global-company-title {
  text-align: center;
  margin: 25px 0;
}

/* 讓標題變大 + 更吸睛 */
.global-company-title strong {
  font-size: 32px;   /* 想更大改這裡，例如 36px、40px */
  font-weight: 800;
}
